<div class="customer">
    <mat-card>
        <mat-card-content style="width: 380px;">
            <div fxLayout="row wrap" fxLayoutGap="10px">
                <div>
                    <mat-form-field appearance="standard">
                        <mat-label>Cédula</mat-label>
                        <input matInput>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field appearance="standard">
                        <mat-label>Nombre</mat-label>
                        <input matInput>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field appearance="standard">
                        <mat-label>Apellido</mat-label>
                        <input matInput>
                    </mat-form-field>
                </div>

                <div>
                    <mat-form-field appearance="standard">
                        <mat-label>Teléfono</mat-label>
                        <input matInput>
                    </mat-form-field>
                </div>
            </div>
            <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="end">

                <button mat-raised-button (click)="cancel()">Cancelar</button>
                <button mat-raised-button color="primary">Guardar</button>
            </div>
        </mat-card-content>
        <mat-card-actions>
        </mat-card-actions>
    </mat-card>
</div>