<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav mode="push" class="draw" >     
        <ul>
            <li><a mat-button color="primary" routerLink="/customers">Clientes</a></li>
            <li><a mat-button color="primary" routerLink="/products">Productos</a></li>
            <li><a mat-button color="primary" routerLink="/sales">Vender</a></li>
          </ul>
    </mat-sidenav>
  
    <mat-sidenav-content class="content">
        <router-outlet></router-outlet>
        <p><button mat-button (click)="sidenav.toggle()">Toggle</button></p>
       
    </mat-sidenav-content>
  </mat-sidenav-container>