<div class="sales">
  <button mat-raised-button color=primary (click)="showModal=true">Generar nueva venta</button>
  <div fxLayout="row wrap">
    <mat-card class="card" *ngFor="let sale of sales;">
      <mat-card-header>
      </mat-card-header>
      <mat-card-content>
        Fecha de factura: {{sale.createdOn  |  date:"MM/dd/yy"}}<br>
        Cliente: {{sale.customerName}}<br>
        Total: {{sale.total | currency:'COP' }}
      </mat-card-content>
    </mat-card>
  </div>
</div>

<modal *ngIf="showModal">
  <sale (cancelOperation)="showModal=false" (onCreated)="onSaleCreated($event)"></sale>
</modal>
