.customer {
    padding: 10%;
    padding: 5% 12% 0;
    h1 {
        color: white;
    }
    .add-btn {
        position: relative;
        margin-top: 20px;
        float: right;
    }
}

table {
    width: 100%;
}
